<template>
  <div class="scoreboardTable">
    <table>
      <thead>
        <th class="schoolName">School Name</th>
        <th class="gap"></th>
        <th class="team">Team</th>
        <th class="subject">Arithmetic</th>
        <th class="subject">Trig/Analysis</th>
        <th class="subject">Geometry</th>
        <th class="subject">Algebra</th>
        <th class="subject">Group</th>
        <th class="rank">Rank</th>
        <th class="gap"></th>
        <th class="team">Team</th>
        <th class="subject">Arithmetic</th>
        <th class="subject">Trig/Analysis</th>
        <th class="subject">Geometry</th>
        <th class="subject">Algebra</th>
        <th class="subject">Group</th>
        <th class="rank">Rank</th>
      </thead>
      <tbody>
        <tr class="schoolRow" v-for="school in schools" :key="school.name">
          <td class="schoolName" v-html="school.name"></td>
          <td class="gap"></td>
          <td class="team">A</td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.a.arithmetic, [
              school.teams.a.arithmetic
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.a.trigonometry, [
              school.teams.a.arithmetic,
              school.teams.a.trigonometry
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.a.geometry, [
              school.teams.a.arithmetic,
              school.teams.a.trigonometry,
              school.teams.a.geometry
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.a.algebra, [
              school.teams.a.arithmetic,
              school.teams.a.trigonometry,
              school.teams.a.geometry,
              school.teams.a.algebra
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.a.group, [
              school.teams.a.arithmetic,
              school.teams.a.trigonometry,
              school.teams.a.geometry,
              school.teams.a.algebra,
              school.teams.a.group
            ])}}
          </td>
          <td class="rank">
            {{getRank([
              school.teams.a.arithmetic,
              school.teams.a.trigonometry,
              school.teams.a.geometry,
              school.teams.a.algebra,
              school.teams.a.group
            ])}}
          </td>
          <td class="gap"></td>
          <td class="team">B</td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.b.arithmetic, [
              school.teams.b.arithmetic
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.b.trigonometry, [
              school.teams.b.arithmetic,
              school.teams.b.trigonometry
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.b.geometry, [
              school.teams.b.arithmetic,
              school.teams.b.trigonometry,
              school.teams.b.geometry
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.b.algebra, [
              school.teams.b.arithmetic,
              school.teams.b.trigonometry,
              school.teams.b.geometry,
              school.teams.b.algebra
            ])}}
          </td>
          <td class="subject">
            {{formatSubjectDisplay(school.teams.b.group, [
              school.teams.b.arithmetic,
              school.teams.b.trigonometry,
              school.teams.b.geometry,
              school.teams.b.algebra,
              school.teams.b.group
            ])}}
          </td>
          <td class="rank">
            {{getRank([
              school.teams.b.arithmetic,
              school.teams.b.trigonometry,
              school.teams.b.geometry,
              school.teams.b.algebra,
              school.teams.b.group
            ])}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ScoreboardTable",
  computed: {
    schools() {
      const schoolNames = Object.keys(this.$store.state.schools);
      const schools = {};
      for (const schoolName of schoolNames) {
        schools[schoolName] = {
          name: schoolName,
          teams: this.$store.state.schools[schoolName].teams
        };
      }
      return schools;
    },
    rankMapping() {
      const ranks = {};
      const totalScores = [];
      for (const school of Object.keys(this.schools)) {
        for (const team of ["a", "b"]) {
          let score = 0;
          for (const subject of [
            "arithmetic",
            "trigonometry",
            "geometry",
            "algebra",
            "group"
          ]) {
            const subjectScore = this.schools[school].teams[team][subject];
            if (typeof subjectScore === "number" && !isNaN(subjectScore) && isFinite(subjectScore)) {
              score += subjectScore;
            }
          }
          totalScores.push(score);
        }
      }
      totalScores.sort((a, b) => b - a);
      for (let i = 0, rank = 1, sameRankCount = 0, lastScore; i < totalScores.length; i++, sameRankCount++) {
        if (totalScores[i] !== lastScore) {
          lastScore = totalScores[i];
          rank += sameRankCount;
          ranks[totalScores[i]] = rank;
          sameRankCount = 0;
        }
      }
      return ranks;
    }
  },
  methods: {
    formatSubjectDisplay(score, total) {
      if (typeof score !== "number" || isNaN(score)) {
        score = "-";
      }
      if (total.filter(n => (typeof n === "number") && !isNaN(n)).length !== total.length) {
        total = "-";
      } else {
        total = total.reduce((acc, cur) => {
          if (typeof cur === "number" && !isNaN(cur)) {
            return acc + cur;
          }
          return acc;
        }, 0);
      }
      return `${score} / ${total}`;
    },
    getRank(total) {
      let atLeastOneScore = false;
      total = total.reduce((acc, cur) => {
        if (typeof cur === "number" && !isNaN(cur)) {
          atLeastOneScore = true;
          return acc + cur;
        }
        return acc;
      }, 0);
      if (!atLeastOneScore) return "-";
      return this.rankMapping[total];
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 2px solid $tableBorderColor;
  padding-left: 3px;
  padding-right: 3px;
}

.gap {
  border: 2px dotted $tableBorderColor;
  width: 15px;
}

.schoolRow:nth-of-type(2n-1) {
  background: rgba(0, 0, 0, 0.1);
}

.schoolName {
  width: 200px;
}

.subject {
  width: 110px;
}
</style>
