<template>
  <div class="timer">
    <span class="minutes">{{minutes}}</span>
    <span class="separator">:</span>
    <span class="seconds">{{seconds}}</span>
    <span class="separator">.</span>
    <span class="milliseconds">{{milliseconds}}</span>
  </div>
</template>

<script>
export default {
  name: "Timer",
  data() {
    return {
      timerStartTime: null,
      timerDuration: 0,
      currentTime: Date.now(),
      currentTimeUpdateRequest: null
    };
  },
  created() {
    window.socket.on("timerDurationUpdate", this.setTimerDuration);
    window.socket.on("timerStateUpdate", this.setTimerState);
    this.updateCurrentTime();
  },
  destroyed() {
    window.socket.off("timerDurationUpdate", this.setTimerDuration);
    window.socket.off("timerStateUpdate", this.setTimerState);
    if (this.currentTimeUpdateRequest) {
      window.cancelAnimationFrame(this.currentTimeUpdateRequest);
    }
  },
  computed: {
    timeRemaining() {
      if (this.timerStartTime === null) {
        return this.timerDuration;
      }
      return Math.max(this.timerDuration - (this.currentTime - this.timerStartTime), 0);
    },
    minutes() {
      return (Math.floor(this.timeRemaining / 60000)).toString().padStart(2, "0");
    },
    seconds() {
      return (Math.floor(this.timeRemaining / 1000) - this.minutes * 60).toString().padStart(2, "0");
    },
    milliseconds() {
      return (this.timeRemaining - this.minutes * 60000 - this.seconds * 1000).toString().padStart(3, "0");
    }
  },
  methods: {
    updateCurrentTime() {
      if (this.currentTimeUpdateRequest) {
        window.cancelAnimationFrame(this.currentTimeUpdateRequest);
      }
      this.currentTimeUpdateRequest = window.requestAnimationFrame(this.updateCurrentTime.bind(this));
      this.currentTime = Date.now();
    },
    setTimerDuration(duration) {
      this.timerDuration = duration;
    },
    setTimerState(state) {
      if (state) {
        if (!this.timerStartTime) {
          this.timerStartTime = Date.now();
        }
      } else {
        if (this.timerStartTime && (Date.now() - this.timerStartTime) < this.timerDuration) {
          this.timerDuration -= (Date.now() - this.timerStartTime);
        }
        this.timerStartTime = null;
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";

.timer {
  font-size: 128px;
  font-weight: bold;
}
</style>
