<template>
  <div class="scoreboardTable">
    <table>
      <thead>
        <th class="schoolName">School Name</th>
        <th class="gap"></th>
        <th class="team">Team</th>
        <th class="subject">Arithmetic</th>
        <th class="subject">Trig/Analysis</th>
        <th class="subject">Geometry</th>
        <th class="subject">Algebra</th>
        <th class="subject">Group</th>
        <th class="gap"></th>
        <th class="team">Team</th>
        <th class="subject">Arithmetic</th>
        <th class="subject">Trig/Analysis</th>
        <th class="subject">Geometry</th>
        <th class="subject">Algebra</th>
        <th class="subject">Group</th>
      </thead>
      <tbody>
        <tr class="schoolRow" v-for="school in schools" :key="school.name">
          <td class="schoolName" v-html="school.name"></td>
          <td class="gap"></td>
          <td class="team">A</td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'a', 'arithmetic')" @input="updateData(school.name, 'a', 'arithmetic', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'a', 'trigonometry')" @input="updateData(school.name, 'a', 'trigonometry', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'a', 'geometry')" @input="updateData(school.name, 'a', 'geometry', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'a', 'algebra')" @input="updateData(school.name, 'a', 'algebra', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'a', 'group')" @input="updateData(school.name, 'a', 'group', inputToPoints($event.target.value))">
          </td>
          <td class="gap"></td>
          <td class="team">B</td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'b', 'arithmetic')" @input="updateData(school.name, 'b', 'arithmetic', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'b', 'trigonometry')" @input="updateData(school.name, 'b', 'trigonometry', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'b', 'geometry')" @input="updateData(school.name, 'b', 'geometry', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'b', 'algebra')" @input="updateData(school.name, 'b', 'algebra', inputToPoints($event.target.value))">
          </td>
          <td class="subject">
            <input type="number" min="0" :value="getTeamSubject(school, 'b', 'group')" @input="updateData(school.name, 'b', 'group', inputToPoints($event.target.value))">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="message">{{message}}</div>
    <button @click="updateScores">Update Scores</button>
  </div>
</template>

<script>
export default {
  name: "DataEditor",
  data() {
    return {
      message: "\u200b"
    };
  },
  computed: {
    schools() {
      const schoolNames = Object.keys(this.$store.state.competition.schools);
      const schools = {};
      for (const schoolName of schoolNames) {
        schools[schoolName] = {
          name: schoolName,
          teams: this.$store.state.competition.schools[schoolName].teams
        };
      }
      return schools;
    }
  },
  methods: {
    updateData(school, team, subject, value) {
      this.$store.commit("setSubjectData", {school, team, subject, value});
      this.message = "\u200b";
    },
    inputToPoints(input) {
      input = parseInt(input);
      if (input === undefined || typeof input !== "number" || isNaN(input) || !isFinite(input)) return null;
      return input;
    },
    updateScores() {
      window.socket.emit("updateCompetition", this.$store.state.competition, e => {
        if (e) {
          this.message = "An error occurred.";
        } else {
          this.message = "Scores updated successfully.";
        }
      });
    },
    getTeamSubject(school, team, subject) {
      if (school && school.teams && school.teams[team] && school.teams[team][subject]) {
        return school.teams[team][subject];
      }
      return null;
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 2px solid $tableBorderColor;
  padding-left: 3px;
  padding-right: 3px;
}

.gap {
  border: 2px dotted $tableBorderColor;
  width: 15px;
}

.schoolName {
  width: 200px;
}

.schoolRow:nth-of-type(2n-1) {
  background: rgba(0, 0, 0, 0.1);
}

.subject {
  width: 110px;
}

.subject input {
  width: 3em;
}
</style>
