<template>
  <div class="timer">
    <div>
      <span class="minutes">
        Minutes: <input class="timeInput" type="number" min="0" v-model="minutes">
      </span>
      <span class="separator"></span>
      <span class="seconds">
        Seconds: <input class="timeInput" type="number" min="0" v-model="seconds">
      </span>
    </div>
    <div class="buttons">
      <button @click="startTimer">Start Timer</button>
      <button @click="stopTimer">Stop Timer</button>
      <button @click="resetTimer">Update/Reset Timer</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "TimerEditor",
  data() {
    return {
      minutes: 0,
      seconds: 0
    };
  },
  methods: {
    startTimer() {
      window.socket.emit("setTimerState", true);
    },
    stopTimer() {
      window.socket.emit("setTimerState", false);
    },
    resetTimer() {
      window.socket.emit("setTimerState", false);
      window.socket.emit("setTimerDuration", (this.minutes || 0) * 60000 + (this.seconds || 0) * 1000);
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/scss/vars.scss";

.separator {
  width: 25px;
}

.timeInput {
  width: 3em;
}

.buttons {
  margin-top: 20px;
}
</style>
