<template>
  <div id="app">
    <DataEditor id="dataEditor"/>
    <TimerEditor id="timerEditor"/>
    <div id="footer">
      <div>This project is open-source under the MIT license and is available at <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TapuCosmo/mathletes-scoreboard">https://gitlab.com/TapuCosmo/mathletes-scoreboard</a>.</div>
      <div>Created by the Cosumnes Oaks Mathletes Team.</div>
      <div>Copyright &copy; Vietbao Tran 2019-2020</div>
    </div>
  </div>
</template>

<script>
import DataEditor from "@/components/DataEditor.vue";
import TimerEditor from "@/components/TimerEditor.vue";

export default {
  name: "App",
  components: {
    DataEditor,
    TimerEditor
  }
}
</script>

<style lang="scss">
@import "@/scss/vars.scss";

@font-face {
  font-family: Ubuntu;
  src: url(~@/assets/ubuntu-font-family-0.83/Ubuntu-R.ttf);
}

body {
  background-color: $backgroundColor;
}

#app {
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 18px;
  color: $textColor;
  margin-top: 10px;
}

#dataEditor {
  margin-bottom: 25px;
}

#footer {
  margin-top: 20px;
}
</style>
